# Environments
venv/
__pycache__/
*.pyc

# Datasets (too large for git, everyone downloads separately)
data/*
!data/.gitkeep
!data/README.md

# Trained model weights (also too large)
*.pt
*.h5
*.pth

# Jupyter
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/